:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 1000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/ad17d2d0-8a2f-426b-b1da-b85b9891b3c6.png);
    background-size:cover ;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
}




.hero h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.home {
    background-image: url(img/image-from-rawpixel-id-13115646-png.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -3.7rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.home .couple {
    margin-top: 100px;
}

.home .couple img {
    width: 100%;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
html {
    font-size: 75%;
}
}


/* Mobile Phone */
@media (max-width: 576px) {
html {
    font-size: 60%;
}
}